<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.cskaoyanmall.mapper.SystemMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.cskaoyanmall.bean.System">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key_name" jdbcType="VARCHAR" property="keyName" />
    <result column="key_value" jdbcType="VARCHAR" property="keyValue" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, key_name, key_value, add_time, update_time, deleted
  </sql>
  <select id="selectByExample" parameterType="com.cskaoyan.cskaoyanmall.bean.SystemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cskaoyanmall_system
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyanmall_system
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyanmall_system
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cskaoyan.cskaoyanmall.bean.SystemExample">
    delete from cskaoyanmall_system
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.cskaoyanmall.bean.System">
    insert into cskaoyanmall_system (id, key_name, key_value,
      add_time, update_time, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{keyName,jdbcType=VARCHAR}, #{keyValue,jdbcType=VARCHAR},
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.cskaoyanmall.bean.System">
    insert into cskaoyanmall_system
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="keyName != null">
        key_name,
      </if>
      <if test="keyValue != null">
        key_value,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keyName != null">
        #{keyName,jdbcType=VARCHAR},
      </if>
      <if test="keyValue != null">
        #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cskaoyan.cskaoyanmall.bean.SystemExample" resultType="java.lang.Long">
    select count(*) from cskaoyanmall_system
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>




  <select id="selectConfig" resultType="com.cskaoyan.cskaoyanmall.bean.SystemConfigRespVo">
    select  distinct  key_name ,key_value from cskaoyanmall_system where
    key_name in ('cskaoyan_mall_mall_name','cskaoyan_mall_mall_qq','cskaoyan_mall_mall_phone',
    'cskaoyan_mall_mall_address')
  </select>




  <select id="selectName" resultType="java.lang.String">
    select distinct key_value as cskaoyan_mall_mall_name from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_mall_name'
  </select>
  <select id="selectAddress" resultType="java.lang.String">

    select distinct key_value as cskaoyan_mall_mall_address from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_mall_address'
  </select>
  <select id="selectQQ" resultType="java.lang.String">

    select distinct key_value as cskaoyan_mall_mall_qq from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_mall_qq'
  </select>
  <select id="selectPhone" resultType="java.lang.String">

    select distinct key_value as cskaoyan_mall_mall_phone from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_mall_phone'
  </select>


  <select id="selectFreightvalue" resultType="java.lang.String">
      select distinct key_value as cskaoyan_mall_express_freight_value from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_express_freight_value'
  </select>
  <select id="selectFreightMin" resultType="java.lang.String">
      select distinct key_value as cskaoyan_mall_express_freight_min from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_express_freight_min'
  </select>


  <select id="selectUnconfirm" resultType="java.lang.String">
    select distinct key_value as cskaoyan_mall_order_unconfirm from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_order_unconfirm'
  </select>
  <select id="selectUnpaid" resultType="java.lang.String">
    select distinct key_value as cskaoyan_mall_order_unpaid from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_order_unpaid'
  </select>
  <select id="selectComment" resultType="java.lang.String">
    select distinct key_value as cskaoyan_mall_order_comment from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_order_comment'
  </select>


  <select id="selectShare" resultType="java.lang.String">
    select distinct key_value as cskaoyan_mall_wx_share from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_wx_share'

  </select>
  <select id="selectBrand" resultType="java.lang.String">
     select distinct key_value as cskaoyan_mall_wx_index_brand from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_wx_index_brand'

  </select>
  <select id="selectTopic" resultType="java.lang.String">
      select distinct key_value as cskaoyan_mall_wx_index_topic from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_wx_index_topic'
  </select>
  <select id="selectHot" resultType="java.lang.String">
    select distinct key_value as cskaoyan_mall_wx_index_hot from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_wx_index_hot'
  </select>
  <select id="selectGoods" resultType="java.lang.String">
    select distinct key_value as cskaoyan_mall_wx_catlog_goods from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_wx_catlog_goods'
  </select>
  <select id="selectList" resultType="java.lang.String">
    select distinct key_value as cskaoyan_mall_wx_catlog_list from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_wx_catlog_list'
  </select>
  <select id="selectNew" resultType="java.lang.String">
    select distinct key_value as cskaoyan_mall_wx_index_new from cskaoyanmall_system
    where key_name = 'cskaoyan_mall_wx_index_new'
  </select>


  <update id="updateByExampleSelective" parameterType="map">
    update cskaoyanmall_system
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.keyName != null">
        key_name = #{record.keyName,jdbcType=VARCHAR},
      </if>
      <if test="record.keyValue != null">
        key_value = #{record.keyValue,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cskaoyanmall_system
    set id = #{record.id,jdbcType=INTEGER},
      key_name = #{record.keyName,jdbcType=VARCHAR},
      key_value = #{record.keyValue,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.cskaoyanmall.bean.System">
    update cskaoyanmall_system
    <set>
      <if test="keyName != null">
        key_name = #{keyName,jdbcType=VARCHAR},
      </if>
      <if test="keyValue != null">
        key_value = #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.cskaoyanmall.bean.System">
    update cskaoyanmall_system
    set key_name = #{keyName,jdbcType=VARCHAR},
      key_value = #{keyValue,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateValueOfMallName">
    update cskaoyanmall_system set key_value = #{cskaoyan_mall_mall_name} where key_name = 'cskaoyan_mall_mall_name'
  </update>
  <update id="updateValueOfMallAdress">
update cskaoyanmall_system set key_value = #{cskaoyan_mall_mall_address} where key_name = 'cskaoyan_mall_mall_address'
  </update>
  <update id="updateValueOfMallPhone">

    update cskaoyanmall_system set key_value = #{cskaoyan_mall_mall_phone} where key_name = 'cskaoyan_mall_mall_phone'
  </update>
  <update id="updateValueOfMallQQ">

    update cskaoyanmall_system set key_value = #{cskaoyan_mall_mall_qq} where key_name = 'cskaoyan_mall_mall_qq'


  </update>


  <update id="updateVauleOfFreightValue">
  update cskaoyanmall_system set key_value = #{cskaoyan_mall_express_freight_value}
  where key_name = 'cskaoyan_mall_express_freight_value'

  </update>
  <update id="updateVauleOfFreightMin">
update cskaoyanmall_system set key_value = #{cskaoyan_mall_express_freight_min}
  where key_name = 'cskaoyan_mall_express_freight_min'
  </update>
  <update id="updateValueOfConfirm">
    update cskaoyanmall_system set key_value = #{cskaoyan_mall_order_unconfirm}
  where key_name = 'cskaoyan_mall_order_unconfirm'
  </update>
  <update id="updateValueOfPaid">

    update cskaoyanmall_system set key_value = #{cskaoyan_mall_order_unpaid}
  where key_name = 'cskaoyan_mall_order_unpaid'
  </update>
  <update id="updateValueOfComment">
    update cskaoyanmall_system set key_value = #{cskaoyan_mall_order_comment}
  where key_name = 'cskaoyan_mall_order_comment'
  </update>
  <update id="updateValueOfShare">

    update cskaoyanmall_system set key_value = #{cskaoyan_mall_wx_share}
  where key_name = 'cskaoyan_mall_wx_share'
  </update>
  <update id="updateValueOfBrand">
    update cskaoyanmall_system set key_value = #{cskaoyan_mall_wx_index_brand}
  where key_name = 'cskaoyan_mall_wx_index_brand'
  </update>
  <update id="updateValueOfTopic">
    update cskaoyanmall_system set key_value = #{cskaoyan_mall_wx_index_topic}
  where key_name = 'cskaoyan_mall_wx_index_topic'
  </update>
  <update id="updateValueOfHot">
     update cskaoyanmall_system set key_value = #{cskaoyan_mall_wx_index_hot}
  where key_name = 'cskaoyan_mall_wx_index_hot'
  </update>
  <update id="updateValueOfGoods">
    update cskaoyanmall_system set key_value = #{cskaoyan_mall_wx_catlog_goods}
  where key_name = 'cskaoyan_mall_wx_catlog_goods'
  </update>
  <update id="updateValueOfList">
    update cskaoyanmall_system set key_value = #{cskaoyan_mall_wx_catlog_list}
  where key_name = 'cskaoyan_mall_wx_catlog_list'
  </update>
  <update id="updateValueOfNew">
    update cskaoyanmall_system set key_value = #{cskaoyan_mall_wx_index_new}
  where key_name = 'cskaoyan_mall_wx_index_new'
  </update>


</mapper>
